/* SignIn.css */
.signin {
 flex-grow: 1;
 display: flex;
 align-items: center;
 justify-content: center;
}
.form-container {
  width: 100% !important;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 60px -20px #555;
}
.dark .form-container {
  box-shadow: none;
}

.signin.dark {
  background-color: #161616;
  color: #fff;
}

.signin.light {
  background-color: #f7f7f7;
  color: #333;
}

.signin h2 {
  text-align: center;
}

.signin form {
  margin-top: 20px;
  border:none;
}

.signin input[type="text"],
.signin input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto; /* Center the input */
  margin-bottom: 10px;
  box-sizing: border-box; /* Include padding and border in width */
  border: 2px solid #ccc !important;

}

.signin input:focus {
  border: 2px solid #007bff !important;
  outline: none;
}

.signin input[type="checkbox"] {
  margin-right: 5px;
}

.signin .remember-forgot {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-block: 15px;
}

.signin button {
  width: 100%;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  border: 2px solid #007bff; /* Blue button color */
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.signin button:hover {
  background-color: transparent;
  color: #007bff;
}

.signin a.forgot-password {
  text-decoration: none;
  color: #007bff; /* Default color */
}

.signin.dark a.forgot-password {
  color: #66ccff; /* Change color in dark mode */
}

.signin .remember {
  display: flex;
  align-items: center;
}

.signin label {
  margin-bottom: 0;
}

