
/* NavBar.css */

/* Light mode styles */
.navbar {
  background-color: #f7f7f7;
  overflow: hidden;
  padding-bottom: 10px;
}

.navbar ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.navbar ul li  {
  transition: .3s;
  font-weight:bold ;
  display: block;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}

.navbar ul li:hover, .li.active {
  background-color: #007bff;
}

.navbar ul li:hover a, li.active a {
 color: white ;
}

/* Dark mode styles */
.dark-mode-navbar {
  background-color: #161616;
}

.dark-mode-navbar ul li a {
  color: #f0f0f0;
}

@media (max-width: 767px) {
  .navbar {
   display: none;
  }
}

