/* Quiz.css */
.quiz-page {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
}

.quiz-page.dark {
  background-color: #161616;
}

.quiz-page.dark .quiz-container {
  background-color: #1c1c1c;
}

.quiz-page h1 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.quiz-page h2 {
  font-size: 2rem;
  font-weight: 600;
}

.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-page ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: fit-content;
}

.quiz-page ul li {
  width: 45%;
  padding-inline: 10px;
}

.question {
  font-size: 18px;
  margin-bottom: 20px;
}

.option :hover{
  background: #007bff;
  color: white;
}

.option label {
  margin: 10px ;
  display: block;
  cursor: pointer;
  width: 100%; 
  padding: 8px 16px; 
  border: 2px solid #007bff;
  border-radius: 10px;
  font-weight: 700;
  transition: .3s;
}

label.selected-option {
  background-color: #007bff;
  color: white;
}

.option input {
  display: none;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.quiz-page p {
  font-size: 2rem;
}

.quiz-page img {
  max-width: 30%;
  margin-block: 15px;
}


/* responsive */
@media (max-width: 767px) {
  .quiz-container {
    background-color: transparent;
    box-shadow: none;
  }

  .quiz-page.dark .quiz-container {
    background-color: transparent;
  }
}
